.bg-cus{
  background-color: rgba(255,236,139);
  font-family: consolas;
  font-weight: bold;
  color:black;
}
.bg-cus .dropdown-menu{
  background-color: rgba(255,236,139);
  font-family: consolas;
  font-weight: bold;
}

.bg-cus .dropdown-item:hover{
  background-color: rgba(255,255,255,0.5);
}

body {
  background: #FFAEB9;
}


.container{font-family:consolas; font-weight:bold; position:relative; top:100px; max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}

h4,h5 {
  font-weight:bold;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input[type = 'text']{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}

.srch_bar /*.input-group-addon input*/ {
  background: rgba(255, 0, 0 ,0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070; 
  font-size: 18px;
}
.srch_bar /*.input-group-addon*/ { margin: 0 0 0 -27px;}

.abut {
  display: inline-block;
  width: 5%;
  background: rgba(5, 114, 143,0.5);

  font-family: consola;
  font-weight: bold;
  color: white;

  border:none;
  border-radius: 5px;
  margin: 0 0 0 -5px;
}



.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}


.chat_list:hover { 
  /*background:#ebebeb;*/
  border: double;
  border-color: rgba(255,236,139);
  border-width: 8px;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.other_email {
  color: #000000;
  display: block;
  font-size: 15px;
  margin: 0 0 8px;
}

.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 10px 15px 0 25px; /*原本第一個0 是30px   2021.04.21 11:49改*/ 
  width: 60%;

  border-style: double;
  animation: bor_color 7s infinite linear;
}

@keyframes bor_color { 
	/*0% {border: 8px double #87CEFA;}
  25% {border: 8px double #AB82FF;}
	50% {border: 8px double #87CEFA;}
  75% {border: 8px double #AB82FF;}
  100% {border: 8px double #87CEFA;}*/

  0% {border: 8px double black;}
  25% {border: 8px double white;}
	50% {border: 8px double black;}
  75% {border: 8px double white;}
  100% {border: 8px double black;}
}




 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}

.outgoing_msg{ word-wrap:break-word; overflow:hidden; margin:26px 0 26px;}
.incoming_msg{ word-wrap:break-word; margin:26px 0 26px;} /*我加的*/


.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write textarea {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  font-weight: bold;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 5px;
  top: 8px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: scroll;
}




