html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;

  background: linear-gradient(top left, #FFEC8B 0%, #FFAEB9 100%);
  background: linear-gradient(to bottom right, #FFEC8B 0%, #FFAEB9 100%);
}



.form-signin {

  font-family: consolas;
  white-space:nowrap;

  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}


.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 5px;
  border-radius: 5px;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-radius: 5px;
}
.form-signin input[type="text"] {
  margin-bottom: 5px;
  border-radius: 5px;
}

#custom-alert {
  top: 10px;
  position: fixed;
}


.cube {
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,0.7);
  animation: move 2s infinite;
}

@keyframes move {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg)
  }
  50% {
    transform: translate3d(250px, 0, 0) rotate(360deg)
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg)
  }
}